XML/TP/commande.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT quantite (#PCDATA)>
<!ELEMENT pu (#PCDATA)>
<!ELEMENT produit ((nom, quantite, pu))>
<!ELEMENT numerodecommande (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT datecommande (#PCDATA)>
<!ELEMENT commande ((numerodecommande, datecommande, client, produit+))>
<!ATTLIST commande
	type CDATA #REQUIRED >
<!ELEMENT client (#PCDATA)>
<!ATTLIST client
	origine (particulier | entreprise) #REQUIRED >
<!ELEMENT boutique ((commande+))>
