XML/TP/libraire2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="titre" type="xs:string"/>
	<xs:element name="livre">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titre"/>
				<xs:element ref="auteur" maxOccurs="unbounded"/>
				<xs:element ref="editeur"/>
			</xs:sequence>
			<xs:attribute name="isbn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:enumeration value="1928994474"/>
						<xs:enumeration value="2100065203"/>
						<xs:enumeration value="2212110472"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="categorie" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="XML"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="librairie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="livre" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editeur">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Eyrolles"/>
				<xs:enumeration value="Microsoft Press"/>
				<xs:enumeration value="Syngress"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="auteur">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B. Leupen"/>
				<xs:enumeration value="Collectif"/>
				<xs:enumeration value="Jean-Marie Chauvet"/>
				<xs:enumeration value="R. Wyke"/>
				<xs:enumeration value="S. Rehman"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
