XML/TP/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="poids">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="personne" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="personne">
		<xs:complexType>
			<xs:attribute name="pese" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="80 kg"/>
						<xs:enumeration value="90 kg"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nom" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Albert Durand"/>
						<xs:enumeration value="Georges Dupond"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
