XML/TP/test.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2012 (http://www.altova.com)-->
<!ELEMENT titre (#PCDATA)>
<!ATTLIST titre
	soustitre CDATA #FIXED "Ma vie"
>
<!ELEMENT page (#PCDATA)>
<!ELEMENT num_journal (#PCDATA)>
<!ELEMENT livre ((titre, auteur, edition, avis))>
<!ELEMENT lieu_impression (#PCDATA)>
<!ELEMENT lieu_edition (#PCDATA)>
<!ELEMENT journal ((page, num_journal))>
<!ATTLIST journal
	annee CDATA #FIXED "2002"
	nom_journal CDATA #REQUIRED
>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT edition ((editeur, lieu_edition, lieu_impression, isbn))>
<!ELEMENT editeur (#PCDATA)>
<!ELEMENT bibliographie ((livre, article+))>
<!ELEMENT avis (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT article ((titre, auteur+, journal))>
